@model TechNewsUI.Models.ChangePassword

@{
    if (TempData["AddedSuccessful"] != null)
    {
    <div class="alert alert-success border-0" role="alert">
                <i class="bi bi-check-circle"></i>@TempData["AddedSuccessful"]
    </div>

    }
}
<style>
           .container2 {
           width: 50%;
           margin-top: 50px;
           padding: 20px;
           box-shadow: 25px;
           box-shadow: rgb(17 12 46 / 20%) 0px 48px 100px 0px;
           background-color: white;
           justify-content: center;
           align-items: center;
           margin-left: 25%;
       }
        .formContainer input  {

           border: none;
           background: #eee;
       }

    .formContainer input :focus {
               background-color: #ddd;
               outline: none;
           }
</style>

<div class="container2">
    <form asp-action="ChangePassword" class="formContainer">
        @*@Html.HiddenFor(model => model.Email)*@

        <div>
            <h2 class="text-center mb-4">Change Password</h2>
        </div>
        <!-- old Password input -->
        <div class="form-group mb-4">
            <label class="form-label " for="OldPassword">Old Password</label>
            <input asp-for="OldPassword" id="oldPass" class="mt-1 form-control" />
            <span asp-validation-for="OldPassword" id="OldpassError" class="text-danger"></span>
        </div>
        <!-- new Password input -->
        <div class="form-outline mb-4">
            <label class="form-label " for="NewPassword">New Password</label>
            <input asp-for="NewPassword" type="password" id="newpass" class="mt-1 form-control" />
            <span asp-validation-for="NewPassword" class="text-danger" id="newPassError"></span>
        </div>

        <!-- Confirm Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" id="form2Example2" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-dark btn-block mb-4" id="changepassButton" style="margin-left:36%;">Change Password</button>

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script type="text/javascript">
    $('#oldPass').change(function() {
        let email = $('#oldPass').val();
        $.ajax({
            type: "POST",
            url: "/Forget/OldPasswordDoesNotExists",
            dataType: "JSON",
            data: { OldPassword: email },
            success: function(result) {
                if (result == false) {
                    $("#OldpassError").text("Enter Correct Password");
                    $("#oldPass").val("");

                }
                else {
                    $("#OldpassError").html("");

                }

            },
            error: function(result) {
                $("#OldpassError").html("");
            }
        });
    });
$('#newpass').change(function() {
    let oldpass = $('#oldPass').val();
    let newpass = $('#newpass').val();
    if(oldpass == newpass)
    {
        $('#newPassError').text("Old and New password must be different.");
        $('#newpass').val("");
    }
    else{
        $('#newPassError').text("");
    }
});
</script>