@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<h3>
    Your password is changed, please click on <a style="text-decoration:none; color:blue;" asp-action="Login" asp-controller="Login"/> Login</a> the link to redirect.
</h3>