@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TechNewsUI.Models.ResetPassword

@{
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<div class="container" style="width: 40%;margin-top: 112px;padding: 20px;box-shadow: rgb(17 12 46 / 20%) 0px 48px 100px 0px;">

    <form asp-action="ResetPassword" asp-controller="Forget">
        <a class="navbar-brand justify-content-center m" asp-area="" style="margin-bottom: 30px;margin-left: 198px;"><img src="~/Image/Tech1.png" height="43px" /></a>
        @Html.HiddenFor(model => model.Email)
        <div>
            <h1 class="text-center">Reset Password</h1>
        </div>
        @{
            if (TempData["ChangedSuccessfully"] != null)
            {
                <div class="alert alert-success border-0" role="alert">
                    <i class="bi bi-check-circle"></i>@TempData["ChangedSuccessfully"]
                    <a style="text-decoration:none; color:blue;" asp-action="Login" asp-controller="Login" /> Login
                </div>

            }
            if (TempData["EmailIdDoesntExist"] != null)
            {
                <div class="alert alert-danger border-0" role="alert">
                    <i class="bi bi-x"></i>@TempData["EmailIdDoesntExist"]

                </div>

            }
        }
        <!-- new Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">New Password</label>
            <input asp-for="NewPassword" type="password" id="form2Example1" class="mt-4 form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <!-- Confirm Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" id="form2Example2" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-dark btn-block mb-4" style="margin: 0 auto;">Reset Password</button>
    </form>
</div>