@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
<div class="main  bg-dark text-white  vw-100">
    <div class="mainContainer ">
        <div class="mainContent text-center h-100 w-100 d-flex justify-content-center align-items-center">
            <div class="content">
                <h1>World Best Tech News Application</h1>
                <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fefefe" fill-opacity="1" d="M0,256L40,240C80,224,160,192,240,192C320,192,400,224,480,234.7C560,245,640,235,720,202.7C800,171,880,117,960,96C1040,75,1120,85,1200,117.3C1280,149,1360,203,1400,229.3L1440,256L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
</div>
<article class="vw-100">
    <div class="row w-100 p-5">
        <div class="col articleSideImage">
            <img src="~/Image/pexels-andrea-piacquadio-3772531.jpg" class="w-100 p-5" />
        </div>
        <div class="col articleSideContent p-5">
            <span>About Us</span>
            <h2>Who are we ? </h2>
            <p class="text-justify">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p class="text-justify">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            </p>
        </div>
    </div>
    <div class="row developers p-5 text-center bg-light rounded-3">
        <h2>Created By</h2>
        <p>Team Mandar Op</p>
        <div class="col developer my-5">
            <img src="~/Image/mrunali3.jpg" />
            <h4 class="my-2">Mrunali Shirke</h4>
            <p>Developer</p>
        </div>
        <div class="col developer my-5">
            <img src="~/Image/aniket.jpeg" />
            <h4 class="my-2">Aniket Maurya</h4>
            <p>Developer</p>
        </div>
        <div class="col developer my-5">
            <img src="~/Image/mandarSir1.jpeg" />
            <h4 class="my-2">Mandar Bhosle</h4>
            <p>Project Manager</p>
        </div>
        <div class="col developer my-5">
            <img src="~/Image/.jpeg" />
            <h4 class="my-2">Madhusudan Vratesh</h4>
            <p>Developer</p>
        </div>
        <div class="col developer my-5">
            <img src="~/Image/sanket3.jpeg" />
            <h4 class="my-2">Sanket Shelke</h4>
            <p>Developer</p>
        </div>

    </div>
</article>
