<style>
            .startImg img{
                   width: 86vw;
            margin-left: 7%;
            }
              .container{
                padding:0px;
                margin:0px;
            }
            main{
                    width: 98vw;
            }
            .col-6
            {
                padding:10%;
            }
            .reason{
                padding: 2%;
        }
        .reason h3{
                margin-right: 6%;
        }
        .position{
                margin-left: 9%;
                margin-top: -5%;
        }
        .position h1{
              margin-bottom: 1%
        }

        .posts{
                  background-color: white;
    border-radius: 20px;
    padding: 2%;
    margin-right: 13%;
    margin-bottom: 2%;
        }
        .category{
            margin-left: 2%;
        border-radius: 6px;
        background-color: antiquewhite;
        padding: 0.5%;
        margin-top: -0.5%;
        }
        .category2{
                margin-left: 2%;
    border-radius: 6px;
    background-color: cadetblue;
    padding: 0.5%;
    margin-top: -0.5%;
        }

        footer .row{
            margin-left: 6%;
        }
       
</style>

<div class="startImg">
    <img src="~/Image/hiring2.jpg" height="600px" />
</div>
<div class="row" style="margin-top: -3%;">
    <div class="col-6">
        <h1 style="color:#04648e;" >Why TechNews?</h1>
        <p class="text-muted">Multidisplinary teams of enterpreneurs ,engineers and designers for changing world of News and Articles.</p>
    </div>
    <div class="col-6" style="margin-left: -7%;">
        <div class="d-flex reason">
            <h3 style="color:#04648e;">01</h3>
            <p class="text-muted">A Truly impactful product in News World</p>
        </div>
        <div class="d-flex reason">
            <h3 style="color:#04648e;">02</h3>
            <p class="text-muted">Multidisplinary teams of enterpreneurs ,engineers and designers </p>
        </div>
        <div class="d-flex reason">
            <h3 style="color:#04648e;">03</h3>
            <p class="text-muted">Human and care centric</p>
        </div>
        <div class="d-flex reason">
            <h3 style="color:#04648e;" >04</h3>
            <p class="text-muted">Top notch technologies and thought leaders in Information </p>
        </div>

    </div>
</div>
<div class="position">
    <div style="margin-left: 1%;">
        <h1 style="font-size: 31px;">Start doing work that matter</h1>
        <p style="margin-right: 51%;margin-bottom: 3%"> Drop Your Cv At <span style="color:#04648e;margin-left:1%;"><u> TechNews@gmail.com </u></span></p>
    </div>
    <div class="d-flex posts">
        <div class="col-4">
            <h6>Design</h6>
            <p class="text-muted">Open position in our design team.</p>
        </div>
        <div class="col-8">
            <div class="d-flex">
                <h6>Product Design</h6>
                <p class="category">Design</p>
            </div>
            <p class="text-muted">We're looking for a mid-level product designer to join our team</p>
            <div class="d-flex">
                <div class="d-flex" style="margin-right: 6%;">
                    <i class="bi bi-clock-fill"></i><p class="text-muted">Full Time</p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-currency-rupee"></i><p class="text-muted"> 80k-100k</p>
                </div>
            </div>
        </div>

    </div>
    <div class="d-flex posts">
        <div class="col-4">
            <h6>Software  Development</h6>
            <p class="text-muted">Open position in our software team.</p>
        </div>
        <div class="col-8">
            <div class="d-flex">
                <h6>FrontEnd Developer</h6>
                <p class="category2">Software</p>
            </div>
            <p class="text-muted">We're looking for a Experienced developer to join our team</p>
            <div class="d-flex">
                <div class="d-flex" style="margin-right: 6%;">
                    <i class="bi bi-clock-fill"></i><p class="text-muted">Full Time</p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-currency-rupee"></i><p class="text-muted"> 80k-100k</p>
                </div>
            </div>
        </div>

    </div>
</div>

