@model TechNewsUI.Models.GuestLoginDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GuestLogin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body>

<div class="container d-flex justify-content-center align-items-center vw-100 vh-100 p-5">
        <div class="row bg-white p-4 row-shadow">
            
            <div class="col h-100 w-100 " >
                <div class="mainHeading text-center m-4">
                    <h2>Welcome</h2>
                    <p>Quick news on Tech Newz</p>
                </div>
                <div class="form-section">

                
                <form asp-action="GuestLogin" class="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group my-4">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" required/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                            <label class="form-check-label" for="exampleCheck1">I have read and agreed to the <a asp-action="Index" class="text-dark fw-bold"   >terms and conditions.</a></label>
                        </div>
                        <div class="form-group my-5">
                        <input type="submit" value="Guest LogIn" class="btn btn-dark w-100" />
                    </div>
                </form>
               
                      <p class="my-3 text-center">Don't have an account ? <a asp-action="AddUser" asp-controller="Register" class="text-dark fw-bold">Register here</a></p>
               
                </div>
            </div>
            @*<div class="col mainbg ">
            </div>*@
        </div>
       
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
